@media screen and (min-width:769px){
    .shapeBox{
        width:100%;
        height:21.86vw;
        position: relative;
        overflow: hidden;
    }
    .boxWrapper{
        width:100%;
    }
    .circle{
        border-radius: 50%;
        position:absolute;
    }
    .square{
        position:absolute;
    }
    .green{
        background-color: #5BEBC1;
    }
    .circle.small{
        width:12.492vw;
        height:12.492vw;
        position: absolute;
        bottom:0;
        left:6.638vw;
        z-index:10;
        transform:translateY(45%);
    }
    .circle.medium{
        width:24.984vw;
        height:24.984vw;
        bottom:0;
        right:0;
        z-index:9;
        transform:translateY(50%);
    }
    .circle.large{
        width:42.1952vw;
        height:42.1952vw;
        bottom:0;
        left:12.12vw;
        transform:translateY(80%);
        z-index:6;
    }
    .lightBlue{
        background-color: #219AFB;
    }
    .skyblue{
        background-color: #02D9FC;
    }
    .navyblue{
        background-color: #3C55FF;
    }
    .square.small{
        width:15.892vw;
        height:15.892vw;
        bottom:0;
        left:0;
        z-index:3;
        transform-origin: 50% 50%;
        transform:translateY(75%) rotate(20deg);
    }
    .square.medium{
        width:23.596vw;
        height:23.596vw;
        bottom:0;
        right:27.8862vw;
        z-index:7;
        transform-origin: 50% 50%;
        transform:translateY(56%) rotate(5deg);
    }
    .square.large{
        width:23.596vw;
        height:23.596vw;
        bottom:0;
        right:21.8862vw;
        transform-origin: 50% 50%;
        transform:translateY(40%) rotate(20deg);
    }
}

@media screen and (max-width:768px){
    .shapeBox{
        width:100%;
        height:38.78vw;
        position: relative;
        overflow: hidden;
    }
    .boxWrapper{
        width:100%;
    }
    .circle{
        border-radius: 50%;
        position:absolute;
    }
    .square{
        position:absolute;
    }
    .green{
        background-color: #5BEBC1;
    }
    .circle.small{
        width:12.742vw;
        height:12.742vw;
        position: absolute;
        bottom:0;
        left:6.638vw;
        z-index:10;
        transform:translateY(45%);
    }
    .circle.medium{
        width:25.65vw;
        height:25.65vw;
        bottom:0;
        right:0;
        z-index:9;
        transform:translateY(50%);
    }
    .circle.large{
        width:43.29vw;
        height:43.29vw;
        bottom:0;
        left:12.12vw;
        transform:translateY(80%);
        z-index:6;
    }
    .lightBlue{
        background-color: #219AFB;
    }
    .skyblue{
        background-color: #02D9FC;
    }
    .navyblue{
        background-color: #3C55FF;
    }
    .square.small{
        width:16.343vw;
        height:16.343vw;
        bottom:0;
        left:0;
        z-index:3;
        transform-origin: 50% 50%;
        transform:translateY(75%) rotate(20deg);
    }
    .square.medium{
        width:24.30vw;
        height:24.30vw;
        bottom:0;
        right:27.8862vw;
        z-index:7;
        transform-origin: 50% 50%;
        transform:translateY(56%) rotate(5deg);
    }
    .square.large{
        width:24.30vw;
        height:24.30vw;
        bottom:0;
        right:21.8862vw;
        transform-origin: 50% 50%;
        transform:translateY(40%) rotate(20deg);
    }
}